nav {
  .nav-wrapper {
    .button-collapse {
      padding: 0px 15px;

      .material-icons {
          font-size: 2.4rem;
      }
    }

    .brand-logo {
      left: 75px;

      img {
        max-width: 200px;
        margin-top: 7.5px;
      }
    }
  }

  #dropdown-user {
      margin-top: 64px;
  }

  .avatar {
      width: 40px;
      height: 40px;
      float: right;
      margin: 10px 0 0 4px;
      border-radius: 50%;

      &+.material-icons {
          margin-left: 4px;
      }
  }
}

.sub-header {
  padding: 8px 8px 0 8px;

  ul {
    li {
      display: inline-block;
      font-size: 14px;
      margin-right: 10px;
      font-weight: 500;
      color: #bdbdbd;

      &:after {
        content: "/";
        color: gray;
        padding-left: 10px;
      }

      &.active {
        color: $primary-color;
      }

      &:last-child {
          &:after {
              content: "";
          }
      }
    }
  }
}
