.modal {
    .modal-headline {
        margin-bottom: 30px;
        font-weight: 300;
    }

    .modal-step-title {
        float: left;
        margin: 0 20px 10px 0;
        font-size: 20px;
        font-weight: 300;
    }
    .modal-footer {
        padding: 4px 24px 16px;
        height: 70px;

        .cancel-modal{
            float: left;
        }
    }

    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    embed {
        display: block;
        margin: 0 auto;
    }
}

/* Styles for Farmacos y Tratamientos */
.farmacos {
    .collection-item.avatar {
        span.title {
            font-size: 18px;
            font-weight: 400;
            color: gray;
        }

        p {
            font-size: 17px;
            color: grey;
            font-weight: 300;
            margin: 2px 0;
        }
    }
}
