.privacy-switch {
    margin-left: -10px;

    label {
        font-size: 20px;
        color: black;
    }
}
.filters-title {
    font-size: 22px;
    margin-bottom: 5px;
    color: grey;
}
.profile-side-card {
    p {
        font-size: 20px;
        font-weight: 100;
    }
}
